# Virtual Environments (Custom names)
rift_env/
venv/
env/

# Python cache
__pycache__/
*.pyc

# Data (Don't upload 10k row CSVs to GitHub)
data/*.csv

# Frontend
frontend/node_modules/
frontend/dist/
.env

# OS files
.DS_Store
Thumbs.db